## Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Đọc dữ liêu

In [3]:
data = pd.read_csv('data/covid_data.csv')
data.head()

,Date,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,Serious Critical,Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,2022-04-18,USA,82316348,NaN,1015451.0,NaN,80202314.0,NaN,1098583.0,1459.0,246106.0,3036.0,995859564.0,2977384.0,3.344747e+08
1,2022-04-18,India,43044280,NaN,521965.0,NaN,42510773.0,NaN,11542.0,698.0,30652.0,372.0,832104846.0,592552.0,1.404273e+09
2,2022-04-18,Brazil,30252618,NaN,662011.0,NaN,29227051.0,NaN,363556.0,8318.0,140538.0,3075.0,63776166.0,296272.0,2.152622e+08
3,2022-04-18,France,27771024,NaN,144157.0,NaN,24914871.0,NaN,2711996.0,1541.0,423779.0,2200.0,260504402.0,3975232.0,6.553188e+07
4,2022-04-18,Germany,23438293,NaN,133429.0,NaN,20085800.0,205500.0,3219064.0,1980.0,278156.0,1583.0,122332384.0,1451790.0,8.426317e+07

## Khám phá dữ liệu

## Tiền xử lý dữ liệu